<html>
<body>
	
	<form th:action="@{/postData}" th:object="${person}" method="POST">
	
	Enter Id(*): <input type="text" th:field="*{id}" />
	
	<!-- Add error message (if present) -->
    <span th:if="${#fields.hasErrors('id')}"
          th:errors="*{id}"
          class="error"></span>

    <br><br>
    <br><br>

    Enter Name (*): <input type="text" th:field="*{name}" />

    <!-- Add error message (if present) -->
    <span th:if="${#fields.hasErrors('name')}"
          th:errors="*{name}"
          class="error"></span>

    <br><br>
	Enter City(*): <input type="text" th:field="*{city}" />
	
	<!-- Add error message (if present) -->
    <span th:if="${#fields.hasErrors('city')}"
          th:errors="*{city}"
          class="error"></span>

    <br><br>
    <input type="submit" value="Submit" />
		
	</form>
</body>
</html>